body {background-color: #B2C382;}

.header {
    background-color: #B2C382;
    width: 614px;
    height: 118px;
    margin-top: 64px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0px;
}

.personal-data {
display: flex;
}

.personal-name h1 {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 30px;
    color: #000000;
    margin: 14px 0px 12px 45px;
}

.personal-name p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    margin: 0px 0px 0px 45px;
}

.personal-data img {
    width: 96px;
    height: 91px;
    border-radius: 10px;
    margin: 0px 0px 24px 108px;
}

header hr{
    border: none;
	border-top: 3px solid black;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

.about {
    background-color: #FFFFFF;
    border-radius: 3px;
    width: 614px;
    height: 220px;
    margin-top: 51px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0px;

}

.about p {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 18px;
    color: #000000;
    text-align: center;
    padding-top: 22px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.about-list ul {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    margin-top: 24px;
    margin-right: 49px;
    margin-bottom: 50px;
    margin-left: 45px;
}

.tools {
    width: 599px;
    height: 126px;
    margin-top: 47px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0px;
}

.tools p {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 18px;
    color: #000000;
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.tools-icons {
    width: 599px;
}

img#postman {
    margin-top: 27px;
    margin-right: 0px;
    margin-bottom: 16px;
    margin-left: 0px;
}

img#vscode {
    margin-top: 27px;
    margin-right: 0px;
    margin-bottom: 16px;
    margin-left: 20px;
}

img#figma {
    margin-top: 28px;
    margin-right: 0px;
    margin-bottom: 17px;
    margin-left: 20px;
}

img#confluence {
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 6px;
}

img#slack {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 6px;
}

img#asana {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.certificates {
    background-color: #FFFFFF;
    border-radius: 3px;
    width: 614px;
    height: 309px;
    margin-top: 47px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0px;
}

.certificates p {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 18px;
    color: #000000;
    text-align: center;
    padding-top: 22px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.certificates-img {
    width: 614px;
}

img#htmlcss {
    width: 279px;
    height: 191px;
    margin-top: 38px;
    margin-right: 0px;
    margin-bottom: 36px;
    margin-left: 17px;
}

img#practicum {
    width: 279px;
    height: 185px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    margin-top: 33px;
    margin-right: 0px;
    margin-bottom: 42px;
    margin-left: 14px;
}

.experience {
    background-color: #FFFFFF;
    border-radius: 3px;
    width: 614px;
    height: 429px;
    margin-top: 44px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0px;  
}

.experience p {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 18px;
    color: #000000;
    text-align: center;
    padding-top: 29px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.experience table {
    table-layout: auto;
    background: #F5F3F3;
    border-collapse: collapse;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    color: #000000;
    width: 529px;
    height: 315px;
    margin-top: 29px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

.experience table th, td {
    border: 2px solid #FFFFFF;
}

.col1 {
    width: 30%;
}

.col2 {
    width: 25%;
}

.col3 {
    width: 45%;
}

.duration {
    vertical-align: top;
    text-align: center;
    padding-top: 20px;
    padding-right: 30px;
}

.position {
    vertical-align: top;
    padding-top: 20px;
    padding-left: 22px;
    padding-right: 30px;
}
